
  <div>
    <header>
        <img src="assets/images/vidafull2.PNG" alt="" srcset="">
    </header>    
    <article>
      <h4>LA MEJOR FORMA DE CONTROLAR TU ALIMENTACIÓN Y ¡CON FACILIDAD DE HACER TU DESPENSA SALUDABLE!</h4>
      <div class="destacados">
        <div>
          <img src="http://fakeimg.pl/100x100?text=Articulo1">
          <h6>Las bodandes de la fruta</h6>
        </div>
        <div>
          <img src="http://fakeimg.pl/100x100?text=Articulo2">
          <h6>¿Que rutina hacer en navidad?</h6>
        </div>       
      </div>
      <div class="destacados">        
        <div>
          <img src="http://fakeimg.pl/100x100?text=Articulo3">
          <h6>Azúcar de Fruta de Monje</h6>
        </div>
        <div>
          <img src="http://fakeimg.pl/100x100?text=Articulo4">
          <h6>¿Seguimiento a tus objetivos?.¡Aprende como!</h6>
        </div>
      </div>
      <div class="destacados">
        
        <div>
          <img src="http://fakeimg.pl/100x100?text=Articulo5">
          <h6>Comparacion de etiquetas de alimentos</h6>
        </div>
        <div>
          <img src="http://fakeimg.pl/100x100?text=Articulo6">
          <h6>¿Cuantas comidas al dia?</h6>
        </div>
      </div>
    </article>
    <article>
      <h4>TESTIMONIOS DE NUESTROS CLIENTES 💖</h4>
      <div class="destacados">
        <div>
          <p class="testimonio">"Me encanto todo y seguro seguire comprando"</p>
        </div>
        
        <div>
            <p class="testimonio">"Una excelente opcion para quienes tenemos poco tiempo pero queremos una vida saludable"</p>
        </div>
      </div>
      <div class="destacados">
        <div>
          <p class="testimonio">"Nunca habia durado mas de 2 semanas haciendo ejercicio y con una buena alimentación, ¡Ya llevo 2 años!"</p>
        </div>
      </div>
    </article>
  </div>
