header {
    
    display: flex;

    & > * {
        width: 50%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }



}


* {
    text-align: center;        
}

footer {
    display: flex;
    &>* {
        flex-grow: 1;
        justify-content: space-evenly;
    }

    a>button {
        width: 100%;
        padding: 1rem;
    }
}


.day-selector {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    ul {
        display: flex;
    }
}


.meal_selector {
    .meal_list > li {
        display: flex;
        margin-bottom: 1rem;
        &> * {
            display: flex;
            align-items: center;
        }
        .icon-text {
            width: 30%;
        }
        .food_items_info {
            width: 20%;
            display: flex;
            flex-direction: column;
        }
        .food_items {
            width: 50%;
            flex-wrap: wrap;
            justify-content: center;


            .food-avatar {
                position: relative;
                margin: .5rem;
                img {
                    width: 32px;
                    height: 32px;
                }
                button.remove {
                    position: absolute;
                    top: -.5rem;
                    right: 0;
                }
            }
        }
    }
}



.choose_foods {
    &>ul {
        height: 70vh;
        overflow-y: auto;
    }
}

.quantity{
    input{
        width: 90%;
    }
    
}