
<header>
  
  <div class="image">
    <img src="{{food.image}}" alt="">
  </div>
  
  <div class="text">
    
    <div class="title">
      <h4>
        {{food.name}}
      </h4>
    </div>
    
    <div class="availability" [ngClass]="{'not-available':food.stock<=0}">
      <span *ngIf="food.stock>0; else notAvailable">
        {{food.stock}} disponibles
      </span>
      <ng-template #notAvailable>
        No disponible
      </ng-template>
    </div>
    
  </div>
  
</header>


<section class="food-info">
  
  <div class="calory-count">
    <h3>
      {{food.calories}} Cal.
    </h3>
  </div>
  
  <div class="quantity">
    <label>
      <span>
        {{ food.measurement_unit_labels?.plural }}
      </span>
      
      <input width="50%" #quantityInput type="number"
      (change)="handleQuantityChange(quantityInput.value)"
      >
      
    </label>
  </div>
  
</section>


<footer>
  
  <a [routerLink]="['/alimentos',food.id]">
    <button>
      Ver
    </button>
  </a>
  
  <a [routerLink]="['/alimentos/comprar',food.id]">
    <button>
      Comprar
    </button>
  </a>
  
  <button (click)="addFood()">
    Añadir
  </button>
  
</footer>
