<header id="app-header">
  <a class="logo-container" routerLink="/">
    <div class="logo">
      <img src="http://fakeimg.pl/150x65?text=vidasaludable" alt="">
    </div>
  </a>

  <nav>
    <ul>
      <li>
        <a routerLink="/alimentos">
          Alimentos
        </a>
      </li>
      <li>
        <a routerLink="/dieta">
          Mi Dieta
        </a>
      </li>
      <li>
        <a routerLink="/objetivos">
          Objetivos
        </a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>

